name: Execução dos Testes - Robot Framework

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar o código do repositório
        uses: actions/checkout@v4

      - name: Configurar o Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install robotframework robotframework-seleniumlibrary

      - name: Executar os testes do Robot Framework
        run: python -m robot -d results tests/

      - name: Salvar relatórios de teste (Artefatos)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: robot-framework-reports
          path: results/